.exercises {
  padding-right: 120px;
  padding-bottom: 120px;

  &:before {
    display: block;
    content: "";
    height: 74px;
    margin: -74px 0 0;
  }

  @include media_1280 {
    padding-right: 40px;
  }

  @include media_780 {
    padding-right: 0;
    padding-bottom: 39px;
  }
}
