.bicycle-types__image {
  @include sizes(100%, 400px);
  overflow: hidden;
  background-size: 100% 400px;
  background-repeat: no-repeat;
  margin-bottom: 25px;

  @include media_560 {
    height: 330px;
    background-size: 100% 330px;
  }

  @include media_480 {
    height: 175px;
    background-size: 100% 175px;
    margin-bottom: 14px;
  }
}
