.bicycle-types {
  margin-bottom: 122px;
  position: relative;

  @include media_780 {
    margin-top: 23px;
  }

  @include media_480 {
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 80px;
    margin-bottom: 40px;
  }

  &:before {
    display: block;
    content: "";
    height: 74px;
    margin: -74px 0 0;
  }
}
