.header__mobile-menu-button {
  @include absolute;
  @include sizes(48px, 48px);
  padding: 0;
  top: 16px;
  right: 6px;
  color: #fff;
  z-index: 10;
  border: none;
  transition: 0.3s;
}

.header__mobile-menu-button:active {
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
